@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);

/*
colors to use from a palete triad
ffebd9 cream
fad684 light brown
b9d9c0 light green
88bd94 darker light green
b2b8cd light purple
7f89a9 darker purple
*/


.header #main_heading{
	font-family: 'Nunito', sans-serif;
	font-weight: 700; 
	text-align: center;
	padding-right: 0.5em;
	font-size: 4em;
	margin:0;
	text-transform: uppercase;
	}
	.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1em  0;
	background-color: #e6cbb2;

	
}
.header img{
	width:25%;

}
.headers{
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	text-align: center;	
	float: center;
}

.text{
	text-align: center;
	font-size: 3em;
	font-family: 'Raleway', sans-serif;
}/*
.video{
	margin:0 auto;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2em;
}
.video video{
	
	max-width: 100%;
	display: block;
	border-radius: 0.5em;
	 
}
.video figcaption{
	margin: 0 auto;
	padding: 0.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}*/
/*Big sceen*/
@media all and (min-width:600px){
	.images{
	display:flex;
	 flex-direction: row ltr;
	 flex-wrap: wrap;
	 justify-content: space-between;
	 align-items: center;
	 padding: 4em;
	 
	}
	.images img{
		width: 30%;
		border-radius: 50%;
		box-shadow: 0.2em 0.2em 0.1em #222;
	}
	.text{
		width:68%;
	}
	.video{
		display: inline-block;
		flex-direction: row ltr;
		flex-wrap: wrap;
		align-items: center;
		max-width: 49%;
		margin:0;
		padding: 0.3%;		
	}
	.video video{
		max-width: 100%;
		
	}
	.video figure{
		max-width:50%;
	}
	.video figcaption{
		margin: 0 ;
		padding: 
		text-align: center;
		font-family: 'Raleway', sans-serif;
	}
	.header img{
	display: inline;
	}

}
/* Medim screen*/
@media all and (max-width:800px){
	
	
}
/*Small screen 
.images{
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 4em;
		margin:0 auto;
	}
.header img{
		display: none;
}



.images img{
	border-radius: 50%;
	margin: 0 auto;
	max-width: 100%;
	box-shadow: 0.2em 0.2em 0.1em #222;
}*/
.light_purple{

	background-color: #b2b8cd;
}

.dark_green{
	background-color: #88bd94;
}
.brown{
	background-color: #8fad684;
}
.darker_purple{
	background-color: #7f89a9;
}
.light_green{
	background-color: #b9d9c0;
}


body {
	background-color: #d3a579;
	margin: 0 0 15% 0;
}
#sign_up_form{
	font-family: 'Raleway', sans-serif;
	background-color: #e6cbb2;
	max-width: 26em;
	text-align: center;
	margin: 5em auto 5em 2em;
	
	padding-bottom: 1em;
	border-radius: 0.5em;

	opacity: 0.9;
    filter: alpha(opacity=90);
}
label{
	display: block;
	padding: 0.5em;
	text-align: left;
	max-width: 20em;
	text-transform: uppercase;

}
input,#button_submit, textarea{
	align: left;
	width: 25em;
	font-size: 1em;
	border-radius: 0.5em;
	border: 0.05em  solid grey;
	
	
}
#button_submit{
	background-color: #505050;
	color:white;
	padding: 1em 0;
	margin-left: 0.5em;
	cursor: pointer;
}
#header_signup{
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	text-align:left;
	border-bottom: 1px solid grey;
	text-transform: uppercase;
	color: grey;
	padding: 0.5em;
}
input,input::-webkit-input-placeholder {

	line-height: 2;
}