@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);

/*
colors to use from a palete triad
ffebd9 cream
fad684 light brown
b9d9c0 light green
88bd94 darker light green
b2b8cd light purple
7f89a9 darker purple
*/


.header #main_heading{
	font-family: 'Nunito', sans-serif;
	font-weight: 700; 
	text-align: center;
	padding-right: 0.5em;
	font-size: 4em;
	margin:0;
	text-transform: uppercase;
	}
	.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1em  0;
	background-color: #e6cbb2;

	
}
.header img{
	width:25%;

}

.text{

	text-align: center;
	font-size: 3em;
}
.video video{
	max-width: 100%;
	 display: block;
	 
}
.video figcaption{
	margin: 0 auto;
	background-color: #e6cbb2;
	font-family: 'Raleway', sans-serif;
}
/*Big sceen
.images{
 display:flex;
 flex-direction: row ltr;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 padding: 4em;
}*/
/* Medim screen*/
@media all and (max-width:800px){
	
	
}
/*Small screen 
@media all and (max-width: 500px){*/
.images{
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 4em;
		
	}
	.header img{
		display: none;
	}


/*}
.images img{
	border-radius: 50%;
	width:30%;
	height:30%;
	
}*/
.images img{
	border-radius: 50%;
	margin: 0 auto;
	 display: block;
	 max-width: 100%;
	
}
.light_purple{

	background-color: #b2b8cd;
}
.dark_green{
	background-color: #88bd94;
}
#container3{
	background-color: #8fad684;
}
#container4{
	background-color: #7f89a9;
}
#container5{
	background-color: #b9d9c0;
}

p{
	font-family: 'Raleway', sans-serif;
	font-size: 10;
	
}

body {
	background-color: #d3a579;
	margin: 0 0 15% 0;
}
#sign_up_form{
	font-family: 'Raleway', sans-serif;
	background-color: #e6cbb2;
	max-width: 26em;
	text-align: center;
	margin: 5em auto 5em 2em;
	
	padding-bottom: 1em;
	border-radius: 0.5em;

	opacity: 0.9;
    filter: alpha(opacity=90);
}
label{
	display: block;
	padding: 0.5em;
	text-align: left;
	max-width: 20em;
	text-transform: uppercase;

}
input,#button_submit, textarea{
	align: left;
	width: 25em;
	font-size: 1em;
	border-radius: 0.5em;
	border: 0.05em  solid grey;
	
	
}
#button_submit{
	background-color: #505050;
	color:white;
	padding: 1em 0;
	margin-left: 0.5em;
	cursor: pointer;
}
#header_signup{
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	text-align:left;
	border-bottom: 1px solid grey;
	text-transform: uppercase;
	color: grey;
	padding: 0.5em;
}
input,input::-webkit-input-placeholder {

	line-height: 2;
}